* {
  /*    border : 1px solid red; */
  box-sizing: border-box;
}

body {
  background-color: #f5f9df;
  text-align: center; /* 텍스트 가운데로 정렬 */
}

ul {
  /*list-style : none; 구슬자리가 남음*/
  padding: 0px;
}

button {
  border: none; /* 버튼 테두리 */
  background-color: transparent; /* 버튼의 백그라운드 색깔이랑 배경색이랑 통일 (투명하게) */
  cursor: pointer; /* 버튼에 마우스 올렸을때 손모양으로 바뀌게 */
}

.header {
  height: 48px;
  padding: 8px;
  font-size: 24px;
  border-radius: 20px 20px 0 0;
  background-color: black;
  color: #fff;
}

.items {
  height: 500px;
  overflow-y: auto;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 8px 32px;
}

.btn_delete {
  font-size: 16px;
  transition: all 300ms ease-in;
}

.btn_delete:hover {
  color: red;
  transform: scale(1.1);
}

.footer {
  background-color: aquamarine;
  border-radius: 0 0 20px 20px;
}

.user_input {
  width: 100%;
  height: 32px;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 0px 16px;
}

.btn_add {
  width: 48px;
  height: 48px;
  font-size: 28px;
  color: #fff;
  background-color: black;
  border-radius: 50%;
  transition: transform 300ms ease-in; /* 스케일이 부드럽게 반영되도록 함 */
}

.btn_add:hover {
  transform: scale(1.1);
}
